<!DOCTYPE html>
<html>
  <head>
    <neta charset = "utf-8">
    <title> Some Website </title>
  </head>
  <body>
    {{> header}}

    <p> Project page would go here </p>

    {{> footer}}
  </body>
</html>
